<div class="container" id="questions">
  <li><h3>{{question.content}}</h3></li>
  <li><em>By: {{question.author}}</em></li>
  <br>
  <li><strong>Notes: {{question.notes}}</strong></li>

  <button {{action 'deleteQuestionHandler' question}} type="button" class="btn">Delete Question</button>
{{update-question updateQuestionSender="updateQuestionSender" question=question}}
{{new-answer saveAnswerSender="saveAnswerSender" question=question}}
</div>
<div class="container">
    <h4>{{answer-format numberOfAnswers}}</h4>
</div>

<div class="container" id="answers">
  {{#each question.answers as |answer|}}
   {{#each sortedScores as |answer|}}
  {{answer-tile answer=answer deleteAnswerSender="deleteAnswerSender" upVoteSender="upVoteSender" downVoteSender="downVoteSender"}}

{{else}}
<h3>No Answers</h3>
{{/each}}
{{/each}}
</div>
